<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Judging...</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <script>
        document.addEventListener('DOMContentLoaded', function() {
          const quotes = [
            "What are you doing here?",
            "Then it doesn't exist.",
            "I've been doing this job for longer than you've been alive!",
              "There's something wrong with you.",
              "You're a hustler!",
              "Get a job, collect cans!",
              "Where do you live? Would you like to get home?",
              "I don't care about how you feel. Your feelings are irrelevant to me. If you want to talk about your feelings, go on Dr. Phil.",
              "You're as thick as this table!",
              "There's only one attitude here, and that's mine.",
              "Houseguests and fish start to smell after three days.",
            "That didn't require an answer.",
            "Look at this face. Is that what you want this face to believe?",
            "The ball's in your court.",
            "I don't believe in that kind of serendipity.",
            "I am an ecumenical abuser.",
            "I know who I am.",
            "This is my playpen!",
            "Listen to me very carefully!",
            "That's not what the law says.",
            "I've been in this business for 30 years.",
            "I don't care!",
            "'Um' is not an answer!",
            "I'm like a truth machine. Someone starts to lie and the hairs on the back of my neck stand up.",
            "(You're so full of) Baloney.",
            "OUTRAGEOUS! YOU ARE AN OUTRAGEOUS PERSON!",
            "Byrd, tell these people goodbye for me.",
            "Goodbye, good luck, adios, arrivederci, sayonara, have a happy life!",
            "That's not happening."
          ];
  
          function changeQuote() {
            const quoteElement = document.getElementById('quote');
            const randomIndex = Math.floor(Math.random() * quotes.length);
            quoteElement.textContent = quotes[randomIndex];
          }

          changeQuote(); // Change the quote immediately on load
          setInterval(changeQuote, 3000); // Change quote every 3 seconds

          // Function to check the status of the case
          function checkStatus(caseId) {
              fetch(`/check_status/${caseId}`)
                .then(response => response.json())
                .then(data => {
                    if (data.status === 'completed') {
                        window.location.href = `/case/${caseId}/view`; // Redirect to the judgment view
                    }
                });
          }

          // Extract caseId from URL
          const urlSegments = window.location.pathname.split('/');
          const caseIdIndex = urlSegments.findIndex(segment => segment === 'case') + 1;
          const caseId = urlSegments[caseIdIndex];
          console.log(caseId)
          setInterval(() => checkStatus(caseId), 2000); // Poll every 2 seconds
        });
    </script>
</head>
<body>
    <div class="container">
      <img src="{{ url_for('static', filename='images/judy-loader.gif') }}" alt="Judy" class="loader-image"> 
      
        <p id="quote">Processing your judgment, please wait...</p>
      
    </div>
</body>
</html>