<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Share Case</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <script>
      function shareCase(button) {
        const url = "{{ url_for('view_case', case_id=case_id, _external=True) }}";

        // Check if the user is likely on a desktop device
        if (!navigator.share || window.innerWidth >= 768) { // 768px is a common breakpoint for tablets and below
          // Use Clipboard API for desktop browsers
          navigator.clipboard.writeText(url).then(() => {
            button.innerText = 'Link Copied. Ready to share!';
            setTimeout(() => {
              button.innerText = 'Let the other side plead their case';
            }, 3000);
          }).catch(console.error);
        } else {
          // Use Web Share API for supported mobile devices
          navigator.share({
            title: 'Share Case',
            url: url
          }).catch(console.error);
        }
      }

    </script>
</head>
<body>
    <div class="container">
        <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Judy" class="top-image"> 
        <div class="form-group">
            <p>Your case has been made! Now let the other side plead their case.</p>
            <button class="submit-btn" onclick="shareCase(this)">Let the other side plead their case</button>
        </div>
    </div>
</body>
</html>
